@model IEnumerable<TimeCheckApp.Models.TemporaryData>

@{
    ViewData["Title"] = "Insert Excel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br />
<h3 style="text-align:center;">Import Excel Report</h3>

<br />
<div style="width:100%;">
    <div class="col-sm-6" style="margin-left:25%">
        <div class="card">
            <div class="card-body">
                <form asp-controller="TemporaryData" asp-action="Index" method="post" enctype="multipart/form-data">
                    <input type="file" class="form-control-file" name="file" style="text-align:center;" />
                    <hr />
                    <button type="submit" class="btn btn-primary"> Upload</button>
                </form>
            </div>
        </div>
    </div>
</div>

<br />

@if(ViewBag.SuccessMessage != null)
 {
   <h5 style="text-align:center; text-decoration-color:limegreen;">@ViewBag.SuccessMessage</h5>
 }
